



















<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
    <!-- 
    Smart developers always View Source. 
    
    This application was built using Adobe Flex, an open source framework
    for building rich Internet applications that get delivered via the
    Flash Player or to desktops via Adobe AIR. 
    
    Learn more about Flex at http://flex.org 
    // -->
    <head>
        <title>191服</title>
        <meta name="google" value="notranslate" />         
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="pragma" content="no-cache"/>
        <meta http-equiv="cache-control" content="no-cache"/>
        <meta http-equiv="expires" content="0"/>
        <!--favicon.ico-->
        <link   rel = "Bookmark"    type = "image/x-icon"    href = "iconold.png" />   
        <link   rel = "icon"    type = "image/x-icon"   href = "iconold.png" />   
        <link   rel = "shortcut icon"    type = "image/x-icon"   href = "iconold.png" />
        <style type="text/css">
            .loading{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                width: 100px;
                -webkit-transform: rotate(360deg);animation: rotation 3s linear infinite;-moz-animation: rotation 3s linear infinite;-webkit-animation: rotation 3s linear infinite;-o-animation: rotation 3s linear infinite;
            }
            @-webkit-keyframes rotation {from {-webkit-transform: rotate(0deg);}to {-webkit-transform: rotate(360deg);}}
        </style>
        <style type="text/css" media="screen"> 

            html,body {
                margin: 0;
                height: 100%;
                padding: 0;
                overflow: hidden;
                background-color: #000;
            }
            #footer {
                margin: 0;
                width: 100%;
                height: 2%;
                line-height: 20px;
                text-align: center;
                color: #FFF;
                font-size: 12px;
                background-color: #000;
            }
            #flashdiv {
                position: relative;
                margin: auto;
                color: #3f3;
                text-align: center;
                font-size: 30px;
                height: 100%;
            }
                        #myIFrameContainer {
    position: absolute;
    border: 2px;
    z-index: 2;
}
        </style>


        <script type="text/javascript" src="/GameWeb/jquery-1.8.2.js"></script>
        <script type="text/javascript" src="/GameWeb/jquery.qrcode.min.js"></script>

    
        
        <script type="text/javascript" src="/GameWeb/game_api.js"></script>
         <script type="text/javascript" src="/GameWeb/xxxx_api.js"></script>
        <script type="text/javascript" src="/GameWeb/md5.js"></script>
         <!-- script type="text/javascript" src="/GameWeb/heightListen.js"></script-->


        <script>

            /**
             * 事件上报
             */
            function tgaTrack(trackname,obj){
                // console.log("调用打点方法"+trackname);
                var par="account="+obj.accountid+"\&eventName="+trackname+"\&agent="+obj.agent+"\&zoneid="+obj.zoneid+"\&logintype="+obj.logintype;
                var trp1 = window.screen.width+","+window.screen.height;
                var trp2 = window.innerWidth+","+window.innerHeight;
                par=par+"\&trp1="+trp1+"\&trp2="+trp2;


/*                    $.ajax({
                        url : "/GameWeb/WebLoginTgaTrack",
                        data : par,
                        async: false,
                        type : "post",
                        success : function(data) {
                            //console.log("调用打点方法成功"+trackname);
                        }
                    });*/

            }


            var registerPara = {'accountid':'201833735',
                'agent':'602',
                'zoneid':'191',
                'logintype':'0'
            };
            tgaTrack('AccountLogin1',registerPara);
        </script>




        <script>
            var registerPara = {'accountid':'201833735',
                'agent':'602',
                'zoneid':'191',
                'logintype':'0'
            };
            tgaTrack('AccountLogin2',registerPara);
        </script>

        <script type="text/javascript">
            
            
                
            
            // window.onbeforeunload = show_reload_dlg;
            window.onbeforeunload = null;
        </script>

              
        <!--<script type="text/javascript" charset="utf-8" src="http://fusion.qq.com/fusion_loader?appid=1103569712&platform=qzone"></script>-->
        

        

        
            <script type="text/javascript" charset="utf-8" src="https://static-1.602.com/602/gw/sdk-init.js" language="javascript"></script>
        

        

        

        <script>
            var registerPara = {'accountid':'201833735',
                'agent':'602',
                'zoneid':'191',
                'logintype':'0'
            };
            tgaTrack('AccountLogin3',registerPara);
        </script>

        <script type="text/javascript">
            var appObj = new Object();
            appObj.GameName = "梦回江湖";
            appObj.ServerHost = "";
            appObj.ServerId = 191;
            appObj.sid = "191";
            appObj.WebSite = "";
            appObj.AppId = "246682469019982";
            appObj.Sandbox = false;
            appObj.Language = "cn";
            appObj.Version = "20141226015431";
            appObj.WorldName = "";
            appObj.CLogOpen = "1";
            appObj.LoadBgImg = "";
            appObj.requestParams = "";
            appObj.webapi_url = "";
            appObj.LoginObj = new Object();
            appObj.LoginObj.openId = "0";
            appObj.LoginObj.openKey = "0";
            appObj.LoginObj.pf = "";
            appObj.LoginObj.pfID = "1";
            appObj.LoginObj.al = "1";
            appObj.LoginObj.via = "";
            var pf = appObj.LoginObj.pf;
            appObj.LoginObj.weburl = "";
            appObj.LoginObj.weblogurl = "";
            appObj.LoginObj.loginid = "";
            appObj.LoginObj.gameid = "cqsj";
            appObj.LoginObj.agent = "602";
            appObj.LoginObj.account = "201833735";

            appObj.LoginObj.nickname = "";
            appObj.LoginObj.sex = "";
            appObj.LoginObj.province = "";
            appObj.LoginObj.city = "";
            appObj.LoginObj.figureurl = "";
            appObj.LoginObj.luntanurl = "";
            appObj.LoginObj.closerecharge = "0";
            appObj.LoginObj.gameParams ="";
            /*联想支付透传参数↓*/
            appObj.LoginObj.lpms='';
            appObj.LoginObj.encLenovoId="";
            /*联想支付透传参数↑*/
            

            
            
        	                 var registerPara = {'accountid':'201833735',
                                 'agent':'602',
                                 'zoneid':'191',
                                 'logintype':'0'
        	                 };
        	                 tgaTrack('AccountLogin',registerPara);

            function openBlueVip() {
//              alert('开通蓝钻');
              var domain = appObj.LoginObj.domain;
              var loginpf = appObj.LoginObj.loginpf;
              var logindomain = appObj.LoginObj.logindomain;
              if (domain == '10' || logindomain == '10') {//qqgame
                  GameAPI.NewOpenGameVIPService.show(
                          appObj.AppId,
                          function () {
//                          alert('close!');
                          },
                          'VIP.APP' + appObj.AppId + '.PLAT' + loginpf + 'mini'
                          );
              } else if (domain == '11' || logindomain == '11') {//3366
              } else if (domain == '17') {//联盟
                  window.BlueVipApi.buyBlueVip(
                          appObj.AppId,
                          '15200',
                          'VIP.APP' + appObj.AppId + '.PLAT' + loginpf + 'mini',
                          function () {
//                  alert(1)
                          }
                  );
              }
          }

            function openYearBlueVip() {
//              alert('开通年费蓝钻');
              var domain = appObj.LoginObj.domain;
              var loginpf = appObj.LoginObj.loginpf;
              var logindomain = appObj.LoginObj.logindomain;
              if (domain == '10' || logindomain == '10') {//qqgame
                  GameAPI.NewOpenGameVIPService.show(
                          appObj.AppId,
                          function () {
//                          alert('close!');
                          },
                          'VIP.APP' + appObj.AppId + '.PLAT' + loginpf + 'mini',
                          3,
                          12
                          );
              } else if (domain == '11' || logindomain == '11') {//3366
              } else if (domain == '17') {//联盟
                  window.BlueVipApi.buyBlueVip(
                          appObj.AppId,
                          '15200',
                          'VIP.APP' + appObj.AppId + '.PLAT' + loginpf + 'mini',
                          function () {
//                              alert(1)
                          },
                          3,
                          12
                          );
              }
          }
            
            //活动开通蓝钻
            function openBlueVipActionShow(token, actid, timetype) {
//                alert('openBlueVipActionShow:' + token + ':' + actid + ':' + timetype);
                if (actid == 'UM160422165328904') {
                    if (timetype == 'year') {
                        openYearBlueVip();
                    } else {
                        openBlueVip();
                    }
                } else {
                    var domain = appObj.LoginObj.domain;
                    var loginpf = appObj.LoginObj.loginpf;
                    var logindomain = appObj.LoginObj.logindomain;
                    if (domain == '10' || logindomain == '10') {//qqgame
                        GameAPI.NewGameVIPAction.show(
                                appObj.AppId, // appid 
                                actid, // mp_id活动号
                                token, // token
                                appObj.sid, // 游戏大区id
                                appObj.LoginObj.openId, // openid
                                'v3', // version
                                function () {
//                                alert('close!')
                                }, // 回调函数
                                3 // 1普通蓝钻2豪华蓝钻3同时显示
//                        timetype == 'year' ? 12 : 1, // 开通时长为1个月/年
//                        1 //1给自己开通2给好友开通
//                        timetype//付费模式，可设置为month或year
                                );
                    } else if (domain == '11' || logindomain == '11') {//3366
                    } else if (domain == '17') {//联盟
                        window.BlueVipApi.buyBlueVipAct(
                                appObj.AppId, // appid 
                                '15200', // sourceid
                                'VIP.APP' + appObj.AppId + '.PLAT' + loginpf + 'act', // aid
                                actid, // act_id
                                token, // token
                                appObj.LoginObj.openId, // openid
                                function () {
//                                alert('close!')
                                }, // 回调函数
                                appObj.sid, // zoneid
                                'v3' // version
//                                3             // service_type
//        4             // duration
                                );

                    }
                }
            }
            
            //保持腾讯登录状态
            function is_login() {
                check_login(false);
            }

            function load_check_login() {
                //第一次登陆，如果登陆检查没有通过，则显示要求登陆
                check_login(true);
            }

            function check_login(check_relogin) {
                if (appObj.LoginObj.openId === 0) {
                    return;
                }
                //防沉迷检查
                //fcm();
                var geturl = appObj.LoginObj.weburl + "?dispather=qq_IsLogin&account=" + appObj.LoginObj.openId + "&zone=" + appObj.ServerId + "&openkey=" + appObj.LoginObj.openKey + "&pf=" + appObj.LoginObj.pf + "&time=" + new Date().getTime();
                $.ajax({
                    url: geturl,
                    success: function (data, textStatus) {
                        data = data.trim();
                        var notice;
                        if (data == "1") {
//                            alert("成功1：" + data);
                            setTimeout("is_login()", 10 * 60 * 1000 + (Math.random() * (5 * 60 * 1000)));
                            notice = 'is_login(ok):' + data;
                        } else if (data == "1002") {
//                            alert("成功2：" + data);
//                            //jyjh好像没有调用这个relogin接口，登陆状态验证失败先不管，等充值啥的时候应该有重登了提示？？
                            if (check_relogin) {
                                fusion2.dialog.relogin();
                            }
                            setTimeout("is_login()", 60 * 1000);
                            notice = 'is_login(fail):' + data;
                        } else {
//                            alert("成功3：" + data);
//                            fusion2.dialog.relogin();
                            setTimeout("is_login()", 60 * 1000);
                            notice = 'is_login(other):' + data;
                        }
                        errorlog(100, notice);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
//                        alert("失败：");
                        setTimeout("is_login()", 60 * 1000);
                    }
                });
                //checkFusion();
            }
            
            function checkFusion() {
                //动态加载fusion
                var isundefined = false;
                var undefineobj = "fusion2";
                if ((typeof fusion2) == 'undefined') {
                    isundefined = true;
                }
                if ((typeof fusion2.dialog) == 'undefined') {
                    undefineobj = "fusion2.dialog";
                    isundefined = true;
                }
                if (isundefined) {
                    $.getScript('http://fusion.qq.com/fusion_loader?appid=246682469019982&platform=' + appObj.LoginObj.pf,
                            function (data, textStatus, jqXHR) {
                                // data 是该请求返回的数据(可能经过处理)
                                // textStatus 可能是"success"、 "notmodified"等
                                // jqXHR 是经过jQuery封装的XMLHttpRequest对象(保留其本身的所有属性和方法)
                                errorlog(102, "fusion2-undefined(" + undefineobj + "):" + textStatus);
                            });
                } else {
                    errorlog(102, "fusion2-load-ok");
                }
            }

            
            
            
            function addhtmlcontent() {
                if (checkisariloginexe()) {
                    return;
                }
                var pageHost = ((document.location.protocol == "https:") ? "https://" : "http://");
                var write = "<a href='http://www.adobe.com/go/getflashplayer'><img src='" + pageHost + "www.adobe.com/images/shared/download_buttons/get_flash_player.gif' alt='Get Adobe Flash player' /></a>";
                var pre = "<div id=\"flashContent\"><p style=\"color: #FF00FF;\">您必须至少FlashPlayer 11.2.0的播放器才行<\/p>";
                var after = "<\/div>";
                var h = pre + write + after;
                $("#flashdiv").append(h);
                }

                var qmrreloaddataObj = null;
                var flashobj = null;
                var flashIsReady = false;


                function loadswf(reload) {
                // window.onbeforeunload = show_reload_dlg;
                var swfVersionStr = "11.2.0";
                var xiSwfUrlStr = ":80/GameWeb/" + "playerProductInstall.swf";
                var flashvars = {};


                //
                var params = {};
                params.quality = "high";
                params.bgcolor = "#000000";
                params.allowscriptaccess = "always";
                params.allowfullscreen = "true";
                //params.wmode = "direct";
                params.menu = "false";

                               params.name = "flashContent";
                               params.id = "flashContent";

                var attributes = {};
                attributes.id = "flashContent";
                attributes.name = "flashContent";
                attributes.align = "middle";
                flashIsReady = false;
                if (!reload) {
                swfobject.embedSWF("1_2846.swf", "flashContent",
                "100%", "100%",
                swfVersionStr, xiSwfUrlStr,
                loadParams, params, attributes);
                // checkHasFlash();
                } else {
                swfobject.removeSWF("flashContent");
                // addhtmlcontent();
                swfobject.embedSWF("1_2846.swf", "flashContent",
                "100%", "100%",
                swfVersionStr, xiSwfUrlStr,
                loadParams, params, attributes);
                }
                }

                function checkHasFlash() {
                    try
                    {
                    	 var swfVersionStr = "11.2.0";
                        var fls = flashChecker();
                        if (fls.f)
                        {
                            var cswfV1 = swfVersionStr.split(".")[0];
                            var cswfV2 = swfVersionStr.split(".")[1];
                            if (fls.v < cswfV1)
                            {
                                writeUpdateInfo("您的flash版本过低, 请去此网址升级:");
                            }
                            else if (fls.v == cswfV1)
                            {
                                if (fls.v1 < cswfV2) {
                                    writeUpdateInfo("您的flash版本过低, 请去此网址升级:");
                                }
                            }
                        }
                        else {
                            writeUpdateInfo("您没有安装flash, 请去此网址安装: ");
                        }
                    }
                    catch (e)
                    {
                    }
                }

                function writeUpdateInfo(str)
                {
                    document.write("<p style='border:1px solid black;width:1000px;height:100px;line-height:50px;color:#FF0000;background:#abcdef;text-align:center;'><a id='linkID' target='_blank' href='https://get.adobe.com/cn/flashplayer/'>" + str + " https://get.adobe.com/cn/flashplayer/</a></p>");
                }

                function flashChecker() {
                    var hasFlash = 0;
                    //是否安装了flash
                    var flashVersion = 0;
                    //flash版本
                    var flashVersion1 = 0;
                    //flash版本
                    if (document.all) {
                        var swf = new ActiveXObject('ShockwaveFlash.ShockwaveFlash');
                        if (swf) {
                            hasFlash = 1;
                            VSwf = swf.GetVariable("$version");
                            var temp = VSwf.split(" ")[1];
                            flashVersion = temp.split(",")[0];
                            flashVersion1 = temp.split(",")[1];
                        }
                    }
                    else {
                        if (navigator.plugins && navigator.plugins.length > 0) {
                            var swf = navigator.plugins["Shockwave Flash"];
                            if (swf) {
                                hasFlash = 1;
                                var words = swf.description.split(" ");
                                for (var i = 0; i < words.length; ++i) {
                                    if (isNaN(parseInt(words[i])))
                                        continue;
                                    flashVersion = words[i].split(".")[0];
                                    flashVersion1 = words[i].split(".")[1];
                                }
                            }
                        }
                    }
                    return {
                        f: hasFlash,
                        v: parseInt(flashVersion),
                        v1: parseInt(flashVersion1)
                    };
                }

                function checkisariloginexe() {
                    if (false) {
                        return true;
                    } else {
                        return false;
                    }
                }

                function fGetCookie(name) {
                    var arg = name + "=";
                    var alen = arg.length;
                    var clen = document.cookie.length;
                    var i = 0;
                    while (i < clen) {
                        var j = i + alen;
                        if (document.cookie.substring(i, j) == arg)
                            return getCookieVal(j);
                        i = document.cookie.indexOf(" ", i) + 1;
                        if (i == 0)
                            break;
                    }
                    return null;
                }

                function fSetCookie(name, value) {
                    var argv = fSetCookie.arguments;
                    var argc = fSetCookie.arguments.length;
                    var expires = new Date();
                    expires.setTime(expires.getTime() + 1 * 60 * 24 * 60 * 1000);
                    var path = (argc > 3) ? argv[3] : null;
                    var domain = (argc > 4) ? argv[4] : null;
                    var secure = (argc > 5) ? argv[5] : false;
                    document.cookie = name + "=" + escape(value)
                        + ((expires == null) ? "" : ("; expires=" + expires.toGMTString()))
                        + ((path == null) ? "" : ("; path=" + path))
                        + ((domain == null) ? "" : ("; domain=" + domain))
                        + ((secure == true) ? "; secure" : "");
                }

                function fDeleteCookie(name) {
                    var exp = new Date();
                    exp.setTime(exp.getTime() - 1);
                    var cval = 0;
                    document.cookie = name + "=" + cval + "; expires=" + exp.toGMTString();
                }

                function getCookieVal(offset) {
                    var endstr = document.cookie.indexOf(";", offset);
                    if (endstr == -1)
                        endstr = document.cookie.length;
                    return unescape(document.cookie.substring(offset, endstr));
                }

                //断线重连
                function be_reloadswf() {
                    window.onbeforeunload = null;
                    window.location.reload();
                }

                function js_reloadswf() {
                    window.onbeforeunload = null;
                    loadswf(true);
                }


            function getFlashObj(emName) {
                var retobj = null;
                try {
                    if (navigator.appName.indexOf("Microsoft") !== -1) {
                        retobj = document.getElementById(emName);
                    }
                } catch (e) {
                }
                try {
                    if (retobj == null) {
                        retobj = window[emName];
                    }
                } catch (e) {
                }
                try {
                    if (retobj == null) {
                        retobj = document[emName];
                    }
                } catch (e) {
                }
                return retobj;
            }

            function errorlog(logType, content) {
                var url = appObj.LoginObj.weblogurl + "?dispather=ClientLog&userName=" + appObj.LoginObj.openId + "&serverId=" + appObj.ServerId + "&logType=" + logType + "&content=" + content + "&time=" + new Date().getTime() + "&loginid=" + appObj.LoginObj.loginid;
                $.ajax({
                    url: url,
                    success: function (data, textStatus) {
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                    }
                });
            }


            function setReady() {
                flashIsReady = true;
                //flashobj = getFlashObj("flashContent");
               alert("setReady");
               alert((flashobj==null));
            }

            var flashIsLive = false;
            function setFlashIsLive() {
                flashIsLive = true;
            }

            function checkFlashLive_timer() {
                // checkFlashObj();
                setTimeout("checkFlashLive_timer()", 2 * 60 * 1000);
            }

            function checkFlashObj() {
                var checkFlashObjRet = "checkFlashObj-flashIsReady-check";
                var tmpflashIsLive = true;
                if (flashIsReady) {
                    checkFlashObjRet = "checkFlashObj-flashIsReady-ok";
                    if (flashobj == null) {
                        flashobj = getFlashObj("flashContent");
                    }
                    if (flashobj != null) {
                        checkFlashObjRet = "checkFlashObj-flashobj-ok";
                        flashIsLive = false;
                        try {
                            //flash 会回调 setFlashIsLive 没有回调，则表示flash已经崩溃
                            flashobj.checkFlashLive();
                        } catch (e) {
                        }
                        if (!flashIsLive) {
                            //
                            tmpflashIsLive = false;
                            //flash崩溃了，需要reload
                            flashIsReady = false;
                            //flash崩溃，记录日志
                            checkFlashObjRet = "checkFlashObj-checkFlashIsLive-Fail";
                        } else {
                            checkFlashObjRet = "checkFlashObj-checkFlashIsLive-Ok";
                        }
                    }
                }
//                alert("checkFlashObjRet:" + checkFlashObjRet);
                if (!tmpflashIsLive) {
                    errorlog(301, checkFlashObjRet);
                } else {
                    //errorlog(300, checkFlashObjRet);
                }
            }

            var test=false;

            var loadParams = {};
            loadParams.usersex="";
loadParams.agent="602";
loadParams.cfgver="2956";
loadParams.tweenlitever="1980";
loadParams.localref="";
loadParams.verCodeHHZZ="2929";
loadParams.verCodeGameLogin="2846";
loadParams.clientaddr="";
loadParams.sign="71cd91d115b12c3b0187c5b32ec37fd4";
loadParams.opencdkey="0";
loadParams.open_service="0";
loadParams.closeweblog="0";
loadParams.clientloginPath="https://cqsj-cdn1.7ronggame.com/cqsj/";
loadParams.ip_cname="cqsj-120-55-13-111.7ronggame.com";
loadParams.loginexeurl="";
loadParams.hhzzcodever="2929";
loadParams.verMobileAtlas="2951";
loadParams.credit="";
loadParams.weblogurl="";
loadParams.prover ="2929";
loadParams.qixiaauiver="2951";
loadParams.payGameZone="";
loadParams.gamewebsite="";
loadParams.ad="";
loadParams.loginid="7036958936236300691";
loadParams.gamever="2955";
loadParams.bakurl="";
loadParams.gameParams="";
loadParams.agent_plusdata="eyJnYW1laWQiOiJjcXNqIiwiYWdlbnQiOiI2MDIiLCJhZCI6IiIsImxvZ2lucGFzcyI6IiIsInNlcnZpY2VxcSI6IiIsImxidWlkIjoiIiwiYXV0b19jcmVhdGVyb2xlIjoiMCIsInNpZCI6IjE5MSJ9";
loadParams.agent_coldatas="";
loadParams.closerecharge="0";
loadParams.cdn="https://cqsj-cdn1.7ronggame.com/cqsj/";
loadParams.configver="2956";
loadParams.bootver="2846";
loadParams.verCodeGameClient="2955";
loadParams.opentaglog="0";
loadParams.verMobile="0";
loadParams.verResource="2949";
loadParams.svrport="10014";
loadParams.plat_info="";
loadParams.AppId="1105226930";
loadParams.agent_append_data="";
loadParams.zoneid="191";
loadParams.productCountry="China";
loadParams.prede="";
loadParams.dataver="";
loadParams.svrsport="10015";
loadParams.rechargeaccount="";
loadParams.verCodeGameData="2921";
loadParams.glver="";
loadParams.gameid="cqsj";
loadParams.resourcever="2949";
loadParams.agent_append_sign="";
loadParams.showlogin="0";
loadParams.resver="2949";
loadParams.open_status="1";
loadParams.sid="191";
loadParams.webid="144";
loadParams.weburl="";
loadParams.swfurl="https://cqsj-cdn1.7ronggame.com/cqsj/client/ly/";
loadParams.client="";
loadParams.verCodeTweenLite="1980";
loadParams.mobileatlasver="2951";
loadParams.svrip="120.55.13.111";
loadParams.verCfg="2956";
loadParams.isadult="1";
loadParams.verCodeGameUI="2951";
loadParams.login_type_5599="";
loadParams.clientarea="";
loadParams.stresver="";
loadParams.reserva1="";
loadParams.gamename="梦回江湖";
loadParams.bootlang="";
loadParams.reserva2="";
loadParams.clientlogintype="0";
loadParams.isloginsteplog="1";
loadParams.verCodeUi="215";
loadParams.gver="2955";
loadParams.wgver="";
loadParams.closelog="0";
loadParams.verCode="2929";
loadParams.isWss="true";
loadParams.openStackLog="0";
loadParams.pfviptype="0";
loadParams.loadParams="https://cqsj-cdn1.7ronggame.com/cqsj/";
loadParams.mobilever="0";
loadParams.candl="";
loadParams.callback="";
loadParams.time="1728388354";
loadParams.adregtime="0";
loadParams.gameicon="";
loadParams.account="201833735";



            window.loadParams=loadParams;

            //loadParams.res="http://wdcq.qixia.ltd/cdn/"
            // var svrip=window.loadParams.svrip;
            // var svrport=window.loadParams.svrport;
            // var zoneid=window.loadParams.zoneid;
            //
            // if(test){
            //     svrip="117.78.35.132";
            //     svrport="8000";
            //     zoneid="1";
            // }

            // var address='http://wdcq.qixia.ltd/cdn/client/ly/index.php?ip='+svrip+'&port='+
            //     svrport+'&zoneid='+zoneid+'&res=http://wdcq.qixia.ltd/cdn/&cfgpack=json';
            //
            // var arr=address.split("?");
            // if(arr[1]){
            //     var arr2 = arr[1].split("&");
            //     var params = {};
            //     for(var i=0; i<arr2.length; i++){
            //         var arr3 = arr2[i].split("=");
            //         params[arr3[0]] = arr3[1];
            //     }
            //     window.loadParams = params;
            // }


            //版本号
            //window.cdnUrl=window.loadParams.swfurl;
            window.verCfg =window.loadParams.cfgver;
            window.verMobile =window.loadParams.mobilever;
            window.verMobileAtlas =window.loadParams.mobileatlasver;
            window.verResource =window.loadParams.resourcever;

            window.verCodeHHZZ =window.loadParams.hhzzcodever;
            window.verCodeGameClient =window.loadParams.gver;
            window.verCodeGameLogin =window.loadParams.bootver;
            // window.verCodeQixiaUI =window.loadParams.qixiaauiver;
            window.verCodeGameUI =window.loadParams.qixiaauiver;
            window.verCodeTweenLite =window.loadParams.tweenlitever;
            window.loadParams.res =window.loadParams.cdn;
            window.verCodeUi = window.loadParams.verCodeUi;
            window.verCodeGameData = window.loadParams.verCodeGameData;
            window.productCountry = window.loadParams.productCountry;
            

            
            if(test){
                // window.loadParams.swfurl="http://wdcq.qixia.ltd/cdn/client/ly/";
                // window.loadParams.res = "http://wdcq.qixia.ltd/cdn/";
                window.verCfg =441;
                window.verMobile =431;
                window.verMobileAtlas =445;
                window.verResource =448;

                window.verCodeHHZZ =463;
                window.verCodeGameClient =450;
                window.verCodeGameLogin =444;
                // window.verCodeQixiaUI =450;
                window.verCodeGameUI =450;
                window.verCodeTweenLite =363;
                window.isVerRandom = true;
                window.isRelease = false;
                window.productCountry = "China";
            }

            function getQueryString(name) {
                var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i');
                var r = window.location.search.substr(1).match(reg);
                if (r != null) {
                    return unescape(r[2]);
                }
                return '';
            }


            function onbodyclick(from)
            {
                if(from === "index")
                {
                    if(window.jsOpenUrl)
                    {
                        window.open(window.jsOpenUrl, window.jsOpenUrlMode);
                        window.jsOpenUrl = null;
                    }
                    if(window.copyName && window.copyName != "")//调用浏览器复制功能
                    {
                        var inputText = window.document.getElementById('input_url');
                        inputText.defaultValue = ""+window.copyName;
                        inputText.select();
                        var flag = window.document.execCommand("copy");
                        console.log("复制是否成功："+flag);
                        window.copyName = null;
                    }
                }
            }


            var g_iframe_pay_obj = null;
            var g_iframe_pay_url = null;
            //mini支付  需要将支付页面嵌入游戏内的用此函数
            function minipay(roleid,rolename){

                var a = document.body.clientWidth;
                var b = document.body.clientHeight;
                var tourl = "pay_url.jsp";

                
                
                
                
                

                

                
                

                
                if (appObj.LoginObj.pf=='lianxiang') {
                    var partner = 311, gameid = 212225;//渠道id，游戏id
                    var notifyUrl = 'http://api.lianyun.i55733.com/pay_formal_togame.php';//通知地址
                    //var extraCommonParam = appObj.sid + '-' + appObj.LoginObj.account + '-' + roleid;//透传参数 zoneid + '_' + account + '_' + roleid;
                    var extraCommonParam = '';
                    g_iframe_pay_url = 'https://cp.vgs.lenovo.com.cn/pay2' +
                        '?lpms=' + appObj.LoginObj.lpms +
                        '&partner=' + partner +
                        '&notifyUrl=' + notifyUrl +
                        '&encLenovoId=' + appObj.LoginObj.encLenovoId +
                        '&gameId=' + gameid +
                        '&extraCommonParam=' + extraCommonParam +
                        '&server=' + appObj.sid +
                        '&role=' + roleid;
                    console.log('联想minipay支付url：',g_iframe_pay_url);
                }
                if ( g_iframe_pay_obj == null ) {
                    g_iframe_pay_obj = document.createElement("iframe");
                    g_iframe_pay_obj.name = "pay_frame";
                    g_iframe_pay_obj.style.width = "690px";
                    g_iframe_pay_obj.style.height = "500px";

                    

                    

                    g_iframe_pay_obj.style.display = "block";
                    g_iframe_pay_obj.style.position = "absolute";
                    g_iframe_pay_obj.style.align = "center";
                    g_iframe_pay_obj.frameBorder = "no";
                    g_iframe_pay_obj.src = tourl;
                    g_iframe_pay_obj.agent = '602';
                    g_iframe_pay_obj.style.left = parseInt((a - 690) / 2) + "px";
                    g_iframe_pay_obj.style.top = parseInt((b - 499) / 2) + "px";
                    document.body.appendChild(g_iframe_pay_obj);
                    console.log('blank left:',g_iframe_pay_obj.style.left);
                    console.log('blank top:',g_iframe_pay_obj.style.top);
                } else {
                    g_iframe_pay_obj.src = tourl;
                    g_iframe_pay_obj.style.display = "block";
                    console.log('left:',g_iframe_pay_obj.style.left);
                    console.log('top:',g_iframe_pay_obj.style.top);
                }
            }
            function closePayUrl(){
                if( g_iframe_pay_obj != null ){
                    g_iframe_pay_obj.style.display = "none";
                }
            }
            

        </script>
    </head>
    <body class = "content"  id="htmlpagebody" onmouseup="onbodyclick('index')" ontouchend="onbodyclick('index')"
          style='margin:0;overflow:auto;overflow-x:hidden;overflow-y:hidden;background-color: #000;'>
    <input id='input_url' v-model='product_url' style='opacity: 0;position: absolute;' type="hidden">
    <input v-model='product_url' disabled type="hidden">
    <img id="loadingImg" class="loading" src="res/img/loadingRound.png"/>
    <div id="div1" style="position:absolute; z-index:-1">qqqqq</div>

    <script src='/GameWeb/zlib.min.js' loader='laya'></script>

    <script loader='laya'>
        var body= document.getElementsByTagName('body')[0];
        var script= document.createElement('script');
        script.type= 'text/javascript';
        var codeurl = window.loadParams.cdn+"sgame/slist_ly/select_"+window.loadParams.prover+"/Code.max.js";
          
         codeurl = window.loadParams.swfurl+"Code.max_"+window.loadParams.hhzzcodever+".js";
        
        
        script.src= codeurl;
        var wdurl ='';
        var version = IEVersion();

        console.log("IEVersion " + version);

        var agent = '602';
        var ad = '';
        var client ='';

        console.log("client " + client);
        console.log("agent " + agent + "ad " + ad);

        if (/*("yy" == ad && client == 0)  || *//*(version > 0 && "wan" == agent) || (*/version > 0 /*&& version <= 9)*/) {
            if ("XUNWAN" == ad) {
                $("body").append("<img src=\"./res/img/xueleiwd.jpg\" style=\"position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;\"alt='切换极速模式' />");
            } else if ('null' == wdurl || "" == wdurl) {
                $("body").append("<img src=\"./res/img/wd.jpg\" style=\"position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;\"alt='切换极速模式' />");
            } else {
               /* if ("yy" == ad) {
                    $("body").append("<a style=\"cursor:pointer\" onclick=\"window.open(wdurl)\"><img class=\"btn\" src=\"./res/img/yy.png\" style=\"position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;\"/></a>");
                } else {*/
                    $("body").append("<img src=\"./res/img/ie_warning.jpg\" style=\"position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto;\"alt='切换极速模式' />").append("<a style=\"cursor:pointer\" onclick=\"window.open(wdurl)\"><img class=\"btn\" src=\"./res/img/download.jpg\" style=\"position: absolute; top: 40%; right: 0; bottom: 0; left: 0; margin: auto;\"/></a>");
               /* }*/
            }
            $("#loadingImg").remove();
        } else {
            body.appendChild(script);
          	if(script.readyState){
          		script.onreadystatechange = function(){
          			
          			if(script.readyState=='complete'||script.readyState=='loaded'){
          				script.onreadystatechange=null;
          				
      	                 var registerPara = {'accountid':'201833735',
                                 'agent':'602',
                                 'zoneid':'191',
                                 'logintype':'0'
        	                 };
        	             tgaTrack('CodeLoadFinish',registerPara);
          				
          				
          			}
          		};
          		
          	}else{
          		script.onload=function(){
          			
	                 var registerPara = {'accountid':'201833735',
                             'agent':'602',
                             'zoneid':'191',
                             'logintype':'0'
    	                 };
    	             tgaTrack('CodeLoadFinish',registerPara);
          		
          		}
          		
          	}
        }
    </script>
    
    <script type="text/javascript">
        function closeLoadingImg(){
            $("#loadingImg").remove();
        }

        



    </script>


    

    





    

    

    <div id="fb-root"></div>


    </body>
</html>